@media (max-width: 667px) {
	//index.html
	.container {
		max-width: 375px;
		padding: 0 8px;
	}

	.header-menu__account {
		display: none;
	}

	.header-menu__shopping-cart {
		display: none;
	}

	.main-page-title__wrp {
		background: none;
		justify-content: center;
		min-height: 363px;
	}
	.main-page-title__header {
		line-height: 38px;
	}
	.main-page-title__text {
		font-size: 20px;
		line-height: 24px;
	}

	.main-page-title__header::after {
		top: 0;
		left: -26px;
		height: 61px;
	}
	.main-page-category {
		margin: 64px 0 0 0;
		flex-direction: column;
		align-items: center;
		&__item {
			max-width: 343px;
			min-height: 247px;
			margin-bottom: 32px;
			&_bgi-accesories {
				margin: 0 auto;
				min-height: 111px;
			}
		}
	}
	.page-product-cards {
		margin-top: 64px;
	}
	.product-cards-header {
		margin-bottom: 65px;
	}
	.product-cards-box {
		margin-bottom: 41px;
		&__list-item {
			margin: 0;
			&:nth-child(odd) {
				margin: 0;
			}
			&:not(:first-child) {
				margin: 0;
			}
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	.browse-all-product-button {
		margin: 0 auto 96px;
	}
	.our-advantages {
		margin: 0;
	}
	.advatages-card {
		max-width: 300px;
		&:last-child {
			margin-bottom: 81px;
		}
	}
	.footer-top {
		padding: 54px 0 110px;
		background-position: -480px;
	}
	.footer-bot__box {
		flex-direction: column-reverse;
		padding: 43px 0 9px;
	}
	//catalog.html
	.page-content-info_box {
		flex-direction: column;
		justify-content: space-evenly;
	}
	.page-product-cards_no-margin {
		margin: 0;
	}
	//фильтры
	.filters-box__wrp {
		width: 87px;
	}
	.filter-main {
		width: 200px;
	}
	.filter-main__title {
		& > svg {
			width: 37px;
			height: 25px;
		}
		&::before {
			content: "";
		}
	}
	.options-product {
		margin: 0;
		&__title {
			font-size: 12px;
			line-height: 14px;
		}
	}
	//-------------------
	.pagination {
		margin-bottom: 64px;
	}
	//product.html
	.product-carousel {
		height: 624px;
		&__button {
			position: absolute;
			&:first-child {
				left: 0;
			}
			&:last-child {
				right: 0;
			}
		}
	}

	.product-description {
		padding: 64px 0;
		margin: 0 0 64px;
		&__collection {
			margin-bottom: 12px;
		}
		&__title {
			margin-bottom: 32px;
		}
		&__text {
			max-width: 326px;
		}
		&__price {
			margin-bottom: 50px;
			&::after {
				width: 175px;
				margin: 32px auto 0;
			}
		}
	}
	.product-filter-form__box {
		margin-bottom: 65px;
	}
	.dropdown-filter__title {
		font-size: 10px;
		line-height: 12px;
	}
	.dropdown-filter__list {
		width: 77px;
	}
	.page-product-cards_margin-product {
		margin-bottom: 64px;
	}
}
