@media (max-width: 1024px) {
	.container {
		max-width: 768px;
		padding: 0 15px;
	}

	.main-page-title__wrp {
		min-height: 368px;
		background-position: -25px;
	}

	.main-page-title__img {
		max-width: 368px;
		background-position: 0 0;
		background-size: cover;
	}

	.main-page-title__header {
		margin: 0;
		font-size: 37px;
	}

	.main-page-title__text {
		font-size: 24px;
	}

	.main-page-category {
		margin: 20px 0 0;
	}

	.main-page-category__item {
		max-width: 232px;
		min-height: 167px;
		&_bgi-men {
			margin: 0 19px;
		}
		&_bgi-accesories {
			margin: 20px 0 0 0;
			max-width: 735px;
			min-height: 116px;
		}
	}

	.page-product-cards {
		margin-top: 156px;
	}

	.product-cards-box {
		margin: 72px 0 0 0;
	}

	.product-cards-box__list-item {
		margin: 0;
		&:nth-child(odd) {
			margin-right: 5px;
		}
		&:not(:first-child) {
			margin-top: 17px;
		}
		&:nth-child(2) {
			margin-top: 0;
		}
	}

	.product-cards-box__list-item_margin {
		margin: 0;
	}

	.our-advantages {
		margin: 65px 0 0;
		&__box {
			flex-direction: column;
			align-items: center;
		}
	}

	.advatages-card_margin {
		margin: 0;
	}

	.advatages-card {
		max-width: 360px;
		margin: 0 0 48px 0;
		&:first-child {
			margin-top: 48px;
		}
		&:last-child {
			margin-bottom: 64px;
		}
	}
	.footer-top {
		padding: 64px 0 140px 0;
		background-position: -400px 80px;
	}
	.footer-top__box {
		flex-direction: column;
	}
}
