@media (max-width: 667px) {
	//index.html
	.container {
		max-width: 375px;
		padding: 0 8px;
	}

	.header-menu__account {
		display: none;
	}

	.header-menu__shopping-cart {
		display: none;
	}

	.main-page-title__wrp {
		background: none;
		justify-content: center;
		min-height: 363px;
	}
	.main-page-title__header {
		line-height: 38px;
	}
	.main-page-title__text {
		font-size: 20px;
		line-height: 24px;
	}

	.main-page-title__header::after {
		top: 0;
		left: -26px;
		height: 61px;
	}
	.main-page-category {
		margin: 64px 0 0 0;
		flex-direction: column;
		align-items: center;
		&__item {
			max-width: 343px;
			min-height: 247px;
			margin-bottom: 32px;
			&_bgi-accesories {
				margin: 0 auto;
				min-height: 111px;
			}
		}
	}
	.page-product-cards {
		margin-top: 64px;
	}
	.product-cards-header {
		margin-bottom: 65px;
	}
	.product-cards-box {
		margin-bottom: 41px;
		&__list-item {
			margin: 0;
			&:nth-child(odd) {
				margin: 0;
			}
			&:not(:first-child) {
				margin: 0;
			}
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	.browse-all-product-button {
		margin: 0 auto 96px;
	}
	.our-advantages {
		margin: 0;
	}
	.advatages-card {
		max-width: 300px;
		&:last-child {
			margin-bottom: 81px;
		}
	}
	.footer-top {
		padding: 54px 0 110px;
		background-position: -480px;
	}
	.footer-bot__box {
		flex-direction: column-reverse;
		padding: 43px 0 24px;
	}
	//catalog.html
	.page-content-info_box {
		flex-direction: column;
		justify-content: space-evenly;
	}
	.page-product-cards_no-margin {
		margin: 0;
	}
	//фильтры
	.filters-box__wrp {
		width: 87px;
	}
	.filter-main {
		width: 200px;
	}
	.filter-main__title {
		& > svg {
			width: 37px;
			height: 25px;
		}
		&::before {
			content: "";
		}
	}
	.options-product {
		margin: 0;
		&__title {
			font-size: 12px;
			line-height: 14px;
		}
	}
	//-------------------
	.pagination {
		margin-bottom: 64px;
	}
	//product.html
	.product-carousel {
		min-height: 624px;
	}

	.product-description {
		padding: 64px 0;
		margin: 0 auto 64px;
		&__collection {
			margin-bottom: 12px;
		}
		&__title {
			margin-bottom: 32px;
		}
		&__text {
			max-width: 326px;
		}
		&__price {
			margin-bottom: 50px;
			&::after {
				width: 175px;
				margin: 32px auto 0;
			}
		}
	}
	.product-filter-form__box {
		margin-bottom: 65px;
	}
	.dropdown-filter__title {
		font-size: 10px;
		line-height: 12px;
	}
	.dropdown-filter__list {
		width: 77px;
	}
	.page-product-cards_margin-product {
		margin-bottom: 64px;
	}
	//cart.html
	.shopping-cart-form {
		margin: 39px auto 96px;
		&__button-box {
			margin-top: 30px;
			justify-content: space-between;
		}
		&__product-button {
			font-size: 12px;
			line-height: 14px;
			width: 174px;
			min-height: 33px;
		}
		&__wrp {
			flex-direction: column;
			&:last-child {
				margin: 48px 0 0;
			}
		}
	}
	.shopping-cart-product-item {
		max-width: 358px;
		min-height: 188px;
		&:not(:last-of-type) {
			margin-bottom: 32px;
		}
		&__img {
			height: 188px;
			width: 144px;
		}
		&__wrp {
			padding: 14px 0 27px 17px;
			margin: 0 60px 0 0;
		}
		&__title {
			font-size: 16px;
			line-height: 19px;
			margin: 0 0 26px;
		}
		&__close-btn {
			top: 17px;
			right: 12px;
		}
		&__feature {
			font-size: 14px;
			line-height: 17px;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
		&__quantity {
			width: 30px;
		}
	}
	.shopping-cart-shipping__input {
		font-size: 13px;
		line-height: 16px;
		font-weight: 300;
	}
	//registration.html
	.registration-form {
		margin: 0;
	}
	.registation-content-box {
		flex-direction: column;
	}
	.registration-advantages {
		margin: 40px 0 0;
	}
}
