$main-color: #f16d7f;
$color-text: #fff;
$title-background: #f1e4e6;
$menu-color: #6f6e6e;

@import url(//fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes checked {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(-2px);
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif, "FontAwesome";
	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&-content {
		flex-grow: 1;
	}
}

// header
.header-page {
	background: #222222;
	min-height: 75px;
	box-sizing: border-box;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	padding: 18px 0 0 0;

	&__wrp {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__search-form_styled {
		margin: 0 0 0 40px;
	}

	&__account {
		display: block;
		text-decoration: none;
		margin: 0 33px;
		width: 29px;
		height: 29px;
		background-image: url(../img/account-ico.svg);
	}

	&__shopping-cart {
		display: block;
		position: relative;
		text-decoration: none;
		width: 32px;
		height: 29px;
		background-image: url(../img/shopping-cart-ico.svg);

		&::after {
			content: "5";
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-text;
			height: 20px;
			width: 20px;
			padding: 2px;
			background-color: $main-color;
			border-radius: 50%;
			position: absolute;
			bottom: 18px;
			left: 20px;
		}
	}
}

.search-form {
	cursor: pointer;
	position: relative;

	&__input {
		position: absolute;
		top: -3px;
		left: 50px;
		border: none;
		border-radius: 5px;
		padding: 8px;
		box-sizing: border-box;
		opacity: 0;
		width: 0;
		transition: width 1s ease, opacity.5s;

		&:focus {
			outline: 3px solid $main-color;
			border: none;
		}
	}

	&__switch-input {
		display: none;
		position: absolute;
		&:checked ~ .search-form__input {
			opacity: 1;
			width: 188px;
		}
	}
	&__switch-label {
		cursor: pointer;
	}
	&__switch-label > svg {
		fill: #e8e8e8;
		height: 26px;
	}
}
.category-nav {
	position: relative;

	&__dropdown {
		list-style-type: none;
		list-style-image: url(../img/dropdown-menu-ico.svg);
		cursor: pointer;
	}
	&__menu {
		position: absolute;
		background-color: $color-text;
		top: 49px;
		left: 0;
		padding: 37px 0 0 33px;
		min-height: 764px;
		width: 232px;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		box-sizing: border-box;
		z-index: 15;
		transition: transform 1s ease-out;
		&:hover {
			transform: scale(1.05);
		}
	}

	&__title {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;

		&::after {
			content: "\f00d";
			color: $menu-color;
			cursor: pointer;
			position: absolute;
			top: 16px;
			right: 16px;
		}
	}

	&__heading {
		font-size: 14px;
		line-height: 17px;
		color: $main-color;
		text-transform: uppercase;
		margin: 24px 0 0 0;
		position: relative;
	}

	&__list {
		list-style-type: none;
	}

	&__link {
		text-decoration: none;
		display: block;
		padding: 11px 0 0 20px;
		font-size: 14px;
		line-height: 17px;
		color: $menu-color;

		&:hover {
			color: $main-color;
		}

		&:focus {
			outline: 1px solid $main-color;
		}
	}
}

// баннер сверху страницы и название брэнда

.main-page-title {
	background-color: $title-background;

	&__wrp {
		display: flex;
		height: 764px;
	}

	&__img {
		background-image: url(../img/main-page-title-img.png);
		background-position: -220px;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		max-width: 460px;
	}

	&__header {
		text-transform: uppercase;
		align-self: center;
		font-weight: 900;
		font-size: 48px;
		line-height: 58px;
		padding: 0 0 0 16px;
		margin: 0 0 0 110px;
		border-left: 12px solid $main-color;
	}

	&__text {
		display: block;
		font-weight: 700;
		font-size: 32px;
		line-height: 38px;

		&::after {
			content: " fashion";
			color: $main-color;
		}
	}
}

// название вверху страниц catalog.html, product.html

.page-content-info {
	background-color: #f8f3f4;
	min-height: 148px;

	&_box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: inherit;
	}

	&__title {
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
		color: $main-color;
		text-transform: uppercase;
	}
}

.breadcrumbs {
	&__item {
		display: inline;
		list-style-type: none;

		&:not(:first-child)::before {
			content: "/\00a0";
			color: inherit;
			padding: 0 4px;
		}
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		color: #636363;

		// макетом не предусмотрены эффекты при наведении на элементы breadcrumbs, добавил по своему усмотрению
		&:hover {
			background-color: rgba(0, 0, 0, 0.21);
		}

		&:active {
			text-decoration: underline $main-color;
		}
		&_active {
			color: $main-color;
			&:hover {
				background-color: transparent;
			}
			&:active {
				text-decoration: none;
			}
		}
	}
}

// pagination
.pagination-box {
	text-align: center;
	margin: (49px-15px) 0 0 0;
}

.pagination {
	border: 1px solid #ebebeb;
	border-radius: 3px;
	display: inline-block;

	&__item {
		text-decoration: none;
		padding: 10px;
		color: #ebebeb;
		float: left;

		&:first-child,
		&:last-child {
			color: #000;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.21);
		}

		&:active {
			text-decoration: underline $main-color;
		}

		&_active {
			color: $main-color;
		}

		&_deactivate {
			user-select: none;

			&:hover {
				cursor: default;
				background-color: rgba(0, 0, 0, 0);
			}

			&:active {
				text-decoration: none;
			}
		}
	}
}

// категории catalog.html
.main-page-category {
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__item {
		background-color: #211616b2;
		background-blend-mode: darken;
		max-width: 360px;
		width: 100%;
		min-height: 260px;

		&_bgi-women {
			background-image: url(../img/category-women-img.jpg);
		}

		&_bgi-men {
			background-image: url(../img/category-men-img.jpg);
			margin: 0 30px;
		}

		&_bgi-kids {
			background-image: url(../img/category-kids-img.jpg);
		}

		&_bgi-accesories {
			margin: 30px 0 0 0;
			max-width: 1140px;
			min-height: 180px;
			background-image: url(../img/category-accesories-img.jpg);
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-decoration: none;
	}

	&__text {
		text-transform: uppercase;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: $color-text;
	}

	&__header {
		font-size: 24px;
		line-height: 28px;
		font-weight: 700;
		text-transform: uppercase;
		color: $main-color;
	}
}

.filters-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 51px;

	&__wrp {
		width: 360px;
		position: relative;
	}
}

.filter-main {
	width: inherit;
	padding: 13px 16px 0;
	box-sizing: border-box;
	position: absolute;
	top: -21px;
	left: -13px;
	z-index: 10;
	user-select: none;

	&[open] {
		background: #fff;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	}

	&[open] .filter-main__title {
		color: #ef5b70;
		// не разобрался как поменять цвет текущей svg иконки, просто меняю на другую иконку
		background: url(../img/sort-ico-open.svg) 55px no-repeat;
	}

	&__title {
		list-style-type: none;
		background: url(../img/sort-ico.svg) 55px no-repeat;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin: 0 0 16px 0;
		cursor: pointer;
	}

	&-nav {
		margin-bottom: 18px;

		&[open] .filter-main-nav__title {
			color: $main-color;
		}

		&__title {
			text-transform: uppercase;
			list-style-type: none;
			border-bottom: 1px solid #ebebeb;
			border-left: 5px solid $main-color;
			padding: 9px 0 9px 10px;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			color: #6f6e6e;
			cursor: pointer;
		}

		&__item {
			list-style-type: none;

			&:not(:last-child) .filter-main-nav__link {
				margin: 0 0 11px 0;
			}

			&:first-child .filter-main-nav__link {
				margin-top: 25px;
			}
		}

		&__link {
			text-decoration: none;
			display: block;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			color: #6f6e6e;
			padding: 0 0 0 16px;

			&:hover {
				color: $main-color;
			}

			&:active {
				background-color: rgba(0, 0, 0, 0.21);
			}
		}
	}
}

.options-product {
	position: relative;
	margin-left: 28px;

	&[open] .options-product__title {
		color: $main-color;
	}

	&[open] .options-product__title::after {
		content: "\f077";
	}

	&__title {
		list-style-type: none;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		color: #6f6e6e;
		user-select: none;

		&::after {
			content: "\f078";
			margin: 0 0 0 10px;
		}
	}

	&__wrp {
		position: absolute;
		width: 100%;
		// top: 21px;
		left: 0;
		background: #ffffff;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		padding: 10px;
		z-index: 10;
	}

	&__item {
		list-style-type: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		color: #6f6e6e;

		&:not(:first-child) {
			margin-top: 6px;
		}
	}

	&__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:checked + .options-product__label::before {
			border: 1px solid #6f6e6e;
			background-color: $main-color;
			content: "\f00c";
			color: $color-text;
		}

		&:not(:checked) + .options-product__label:hover::before {
			background-color: $main-color + 100%;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		user-select: none;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			width: 1em;
			height: 1em;
			border: 1px solid #ebebeb;
			margin-right: 10px;
		}
	}

	&__price_width {
		width: 120px;
		box-sizing: border-box;
	}
}

// карусель товаров product.html
.product-carousel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f7f7f7;
	height: 777px;

	&__button {
		display: flex;
		background: rgba(42, 42, 42, 0.15);
		border: none;
		outline: none;
		width: 47px;
		height: 47px;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		color: #000;
		cursor: pointer;
		transition: 300ms;

		&:hover {
			color: $main-color;
		}

		&:active {
			box-shadow: 0 0 3px $main-color;
			color: #000;
		}
	}
}

.product-description {
	background-color: #fff;
	min-height: 600px;
	padding: 65px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	position: relative;
	top: -60px;

	&__collection {
		text-transform: uppercase;
		color: $main-color;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		margin-bottom: 28px;

		&::after {
			content: "";
			display: block;
			width: 63px;
			height: 3px;
			background-color: $main-color;
			margin: 0 auto;
			margin-top: 12px;
		}
	}

	&__title {
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #4d4d4d;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 48px;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #5e5e5e;
		width: 550px;
		margin: 0 auto 32px auto;
	}

	&__price {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: $main-color;
		text-align: center;
		margin-bottom: 130px;
		&::after {
			content: "";
			display: block;
			width: 640px;
			height: 1px;
			background-color: #eaeaea;
			margin: 65px auto;
		}
	}
}

.product-filter-form {
	&__box {
		display: flex;
		justify-content: center;
		margin-bottom: 49px;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		outline: none;
		border: 1px solid $main-color;
		background-color: #fff;
		box-sizing: border-box;
		color: $main-color;
		width: 211px;
		min-height: 48px;
		padding: 5px;
		cursor: pointer;
		transition: 500ms;

		&:hover {
			background-color: $main-color;
			color: #fff;

			& svg {
				fill: #fff;
			}
		}

		&:active {
			background-color: #fff;
			color: $main-color;

			& svg {
				fill: $main-color;
			}
		}

		& svg {
			fill: $main-color;
			margin-right: 23px;
		}
	}
}

.dropdown-filter {
	cursor: pointer;
	&_margin {
		margin: 0 23px;
	}
	&:hover {
		background-color: $title-background;
	}
	&[open] .dropdown-filter__title {
		color: $main-color;

		&::after {
			content: "\f077";
		}
	}

	&__title {
		list-style-type: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		color: #6f6e6e;

		&::after {
			content: "\f078";
			margin-left: 9px;
		}
	}
	&__list {
		list-style-type: none;
		position: absolute;
		width: 100px;
		background: #ffffff;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		padding: 10px;
		z-index: 10;
	}

	&__item {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		color: #6f6e6e;
		&:hover {
			background-color: #ccc;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__radio {
		position: absolute;
		z-index: -1;
		opacity: 0;

		& + .dropdown-filter__text {
			display: flex;
			align-items: center;
			user-select: none;

			&::before {
				content: "";
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 1em;
				height: 1em;
				border: 1px solid #6f6e6e;
				border-radius: 1em;
				margin-right: 0.5em;
			}
		}

		&:checked + .dropdown-filter__text::before {
			background-color: $main-color;
			content: "\f00c";
			color: #fff;
			font-size: 1em;
		}
		&:checked ~ .dropdown-filter__text {
			color: $main-color;
		}
	}
	&__text {
		cursor: pointer;
	}
}

// карточки с товарами

.page-product-cards {
	margin-top: 96px;

	&_no-margin {
		margin-top: 0;
	}

	&_margin-product {
		margin-bottom: 120px;
	}
}

.product-cards-header {
	margin: 0 auto;

	&__title {
		text-align: center;
		font-size: 30px;
		line-height: 36px;
		color: #222;
	}

	&__text {
		text-align: center;
		font-size: 14px;
		line-height: 17px;
		color: #9f9f9f;
		margin: 6px 0 0 0;
	}
}

.product-cards-box {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
	margin: (48px-15px) 0 0 0;

	&__list-item {
		list-style-type: none;
		margin: 15px 0;

		&_margin {
			margin: 15px 30px;
		}
	}
}

.card-item {
	width: 360px;
	min-height: 580px;
	box-sizing: border-box;
	background-color: #f8f8f8;
	position: relative;

	&:hover &__img {
		filter: brightness(30%);
	}

	&:hover &__button {
		display: block;
	}

	&__link {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}

	&__img {
		width: 100%;
	}

	&__header-box {
		padding: 25px 28px 20px 18px;
	}

	&__title {
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		text-transform: uppercase;
		font-weight: 400;
	}

	&__description {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #5d5d5d;
		margin: 13px 0 18px 0;
	}

	&__price {
		font-size: 16px;
		line-height: 19px;
		color: $main-color;
		font-weight: 400;
	}

	&__button {
		display: none;
		outline: none;
		border: 1px solid $color-text;
		background: transparent;
		font-size: 14px;
		line-height: 17px;
		color: $color-text;
		font-weight: 400;
		padding: 13px 16px 13px 50px;
		position: absolute;
		top: 188px;
		left: 110px;
		background-image: url(../img/shopping-cart-ico.svg);
		background-position: 13px;
		background-repeat: no-repeat;
		background-size: auto;
		cursor: pointer;
		transition: 500ms;
		// в макете не указаны стили, которые должны быть при наведении на кнопку, сделал на свое усмотрение
		&:hover {
			border: 1px solid $main-color;
			box-shadow: 1px 1px 8px $main-color;
			transform: rotate(360deg);
			transition: transform 10s linear;
		}

		&:active {
			box-shadow: 1px 1px 20px $main-color;
		}
	}
}

.browse-all-product-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border: 1px solid $main-color;
	color: $main-color;
	min-height: 47px;
	width: 211px;
	margin: (48px - 15px) auto 0;
	padding: 14px 5px;
	box-sizing: border-box;
	transition: background-color 1s, color 1s, box-shadow 1s;

	&:hover {
		background-color: $main-color;
		color: $color-text;
	}

	&:active {
		background-color: $color-text;
		color: $main-color;
		box-shadow: 1px 1px 20px $main-color;
	}
}

// форма покупок cart.html

.shopping-cart-form {
	display: flex;
	justify-content: center;
	margin-top: 96px;
	margin-bottom: 128px;

	&__wrp:last-child {
		margin-left: 130px;
	}

	&__button-box {
		margin-top: 72px;
		display: flex;
		justify-content: space-between;
	}

	&__product-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 234px;
		min-height: 50px;
		text-align: center;
		cursor: pointer;
		border: 1px solid #a4a4a4;
		outline: none;
		background-color: #fff;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		transition: 500ms;
		&:focus {
			outline: 1px solid $main-color;
		}
		&:hover {
			background-color: #a4a4a4;
			color: #fff;
		}
		&:active {
			background-color: #fff;
			color: #a4a4a4;
		}
	}
}

.shopping-cart-product-item {
	display: flex;
	width: 652px;
	min-height: 306px;
	box-sizing: border-box;
	box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
	background-color: #fff;
	&:not(:last-of-type) {
		margin-bottom: 40px;
	}

	&__link {
		text-decoration: none;
		outline: none;
	}

	&__img {
		display: block;
		height: 306px;
	}

	&__wrp {
		padding: 22px 31px;
	}
	&__title {
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
		color: #222222;
		width: 200px;
		position: relative;
		margin-bottom: 42px;
	}
	&__close-btn {
		color: #575757;
		background-color: transparent;
		border: none;
		outline: none;
		position: absolute;
		top: 0;
		right: -125px;
		cursor: pointer;
		&:hover {
			color: $main-color;
		}
		&:focus {
			outline: 1px solid $main-color;
		}
	}
	&__feature {
		font-size: 22px;
		font-weight: 400;
		line-height: 26px;
		color: #575757;
		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}

	&__price {
		color: $main-color;
	}

	&__quantity {
		width: 45px;
		margin-left: 20px;
		padding: 1px 5px;
		box-sizing: border-box;
		text-align: center;
		color: #656565;
		border: 1px solid #eaeaea;
		&:focus {
			outline: 1px solid $main-color;
		}
	}
}

.shopping-cart-shipping {
	&__title {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
		text-transform: uppercase;
		margin: 20px 0;
	}

	&__input {
		border: 1px solid #a4a4a4;
		height: 45px;
		width: 360px;
		padding: 12px 16px;
		margin-bottom: 20px;
		box-sizing: border-box;
		&:focus {
			outline: 1px solid $main-color;
		}
	}

	&__button {
		background-color: #fff;
		border: 1px solid #a4a4a4;
		color: #4a4a4a;
		font-weight: 300;
		font-size: 11px;
		line-height: 13px;
		text-transform: uppercase;
		width: 100px;
		min-height: 35px;
		cursor: pointer;
		transition: 500ms;
		&:focus {
			outline: 1px solid $main-color;
		}
		&:hover {
			background-color: #a4a4a4;
			color: #fff;
		}
		&:active {
			background-color: #fff;
			color: #a4a4a4;
		}
	}
}

.shopping-cart-checkout {
	width: 360px;
	height: 214px;
	box-sizing: border-box;
	background-color: #f5f3f3;
	margin: 58px 0 0 0;
	padding: 40px 35px;

	&__sub-total-text {
		text-align: right;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 13px;
		color: #4a4a4a;
		&_price {
			margin-left: 26px;
		}
	}
	&__grand-total-text {
		margin: 12px 0 0 0;
		text-align: right;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222;
		&_price {
			margin-left: 26px;
			font-weight: 700;
			color: $main-color;
		}
	}

	&__button {
		margin: 40px auto 0;
		display: block;
		background-color: $main-color;
		border: none;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		min-height: 50px;
		padding: 15px 43px;
		box-sizing: border-box;
		position: relative;
		transition: 500ms;
		&::before {
			content: "";
			height: 1px;
			width: 275px;
			background-color: #e2e2e2;
			position: absolute;
			top: -17px;
			left: 0;
		}
		&:focus {
			outline: 1px solid #000;
		}
		&:hover {
			background-color: #fff;
			color: $main-color;
			border: 1px solid $main-color;
		}
		&:active {
			background-color: $main-color;
			color: #fff;
		}
	}
}

//форма регистрации registration.html

.registation-content-box {
	display: flex;
	justify-content: space-between;
	padding: 64px 0 96px;
}

.registration-form {
	margin-right: 30px;
	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
		margin-bottom: 20px;
	}
	&__input {
		@extend .shopping-cart-shipping__input;
		margin: 0;
		display: block;

		&:nth-child(even) {
			margin-bottom: 20px;
		}
	}
	&__radio-wrp {
		display: flex;
		margin: 33px 0;
	}
	&__radio {
		font-weight: 300;
		font-size: 11px;
		line-height: 13px;
		color: #000000;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		&:first-of-type {
			margin-right: 20px;
		}
	}
	&__radio-input {
		display: none;
		& + .registration-form__radio::before {
			content: "";
			display: inline-block;
			width: 1em;
			height: 1em;
			border: 1px solid #a4a4a4;
			border-radius: 1em;
			margin-right: 0.5em;
		}

		&:checked + .registration-form__radio::before {
			background-color: $main-color;
			width: 1.5em;
			height: 1.5em;
		}
		&:checked + .registration-form__radio {
			text-transform: uppercase;
			color: $main-color;
			animation: checked 3s infinite linear alternate;
		}
	}
	&__caption {
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		color: #b1b1b1;
		width: 360px;
		margin: 15px 0 40px;
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 167px;
		min-height: 50px;
		background-color: $main-color;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		border: 1px solid $main-color;
		box-sizing: border-box;
		transition: background 500ms, color 500ms, box-shadow 500ms;
		& > svg {
			fill: #fff;
			margin-left: 20px;
			transition: fill 500ms;
		}
		&:hover {
			background-color: #fff;
			color: $main-color;
			& > svg {
				fill: $main-color;
			}
		}
		&:active {
			background-color: $main-color;
			color: #fff;
			box-shadow: 1px 1px 8px $main-color;
			& > svg {
				fill: #fff;
			}
		}
	}
}

.registration-advantages {
	&__title {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		text-transform: uppercase;
		color: #000000;
	}
	&__text {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin: 22px 0;
		max-width: 650px;
	}

	&__list {
		list-style-type: none;
		list-style-image: url(../img/list-registration-img.svg);
		list-style-position: inside;
	}
	&__item {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
// наши преимущества index.html
.our-advantages {
	margin: 95px 0 0;
	background-color: #222224;

	&__box {
		display: flex;
		justify-content: space-between;
	}
}

.advatages-card {
	width: 300px;
	margin: 103px 0;
	box-sizing: border-box;

	&__img {
		display: block;
		margin: 0 auto;
		height: 32px;
		width: 45px;
	}

	&__header {
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		color: #fbfbfb;
		text-align: center;
		margin: 28px 0 16px 0;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #fbfbfb;
	}

	&_margin {
		margin-right: 30px;
		margin-left: 30px;
	}
}

// footer

.footer-top {
	height: 448px;
	background: url(../img/footer-bgi.jpg) center no-repeat;
	background-size: cover;
	background-color: rgba(244, 244, 244, 0.7);
	background-blend-mode: lighten;

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: inherit;
	}
}

.comment {
	width: 360px;

	&__img {
		display: block;
		margin: 0 auto;
		transition: 10s;
		&:hover {
			animation: rotate 5s infinite linear;
		}
	}

	&__text {
		text-align: center;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #222224;
		margin: 40px 0 0;

		&_italic {
			font-style: italic;
		}
	}
}

.subscribe {
	width: 360px;

	&__text {
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #222224;
		font-weight: 400;
		text-transform: uppercase;

		&_bold {
			display: block;
			font-weight: 700;
			font-size: 24px;
			line-height: 40px;
		}
	}

	&__email-form {
		position: relative;
		margin: 32px 0 0;
	}

	&__email-input {
		background: #e1e1e1;
		outline: none;
		border: 1px solid #e1e1e1;
		width: 256px;
		height: 49px;
		box-sizing: border-box;
		border-radius: 30px 0 0 30px;
		padding: 0 0 0 22px;

		&:focus {
			border: 1px solid $main-color;
		}
	}

	&__button {
		width: 100px;
		height: 49px;
		background-color: $main-color;
		border: 1px solid $main-color;
		border-radius: 0 30px 30px 0;
		outline: none;
		box-sizing: border-box;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-align: center;
		color: $color-text;
		cursor: pointer;
		position: absolute;
		right: 5px;
		transition: background 500ms, color 500ms;

		&:hover {
			background: $color-text;
			color: $main-color;
		}

		&:active {
			background: $main-color;
			color: $color-text;
		}
	}
}

.footer-bot {
	background: #222224;
	min-height: 80px;

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	&__copyright {
		font-size: 16px;
		line-height: 19px;
		font-weight: 400;
		color: #fbfbfb;
	}

	&__social {
		display: flex;
		align-items: center;
	}
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	color: #000;
	box-sizing: border-box;
	background-color: $color-text;
	text-decoration: none;
	cursor: pointer;
	margin: 0 8px 0 0;
	transition: background-color 500ms, color 500ms;

	&:last-child {
		margin: 0;
	}

	&:hover {
		background-color: $main-color;
		color: $color-text;
	}

	&:active {
		background-color: $color-text;
		color: #000;
	}
}
